[INITIAL]
fluxcal = ''                                        # Flux calibrator dataset, e.g. '3C295.MS'
polcal = ''                                         # Polarised calibrator dataset, e.g. '3C286.MS'
target = ''                                         # Target dataset, e.g. 'LH_WSRT.MS'
basedir = '/data/adams/apertif/ccal/'                # Base directory for your data reduction, e.g
                                                    # '/data/adebahr/apertif/LH_WSRT/'
beam = '00'                                         # Beam number to work on for SELFCAL, CONTINUUM, LINE and
                                                    # POLARISATIOn module, e.g. '00'
rawsubdir = 'raw'                                   # Sub-directory for raw datasets, e.g. 'raw'
crosscalsubdir = 'crosscal'                         # Sub-directory for cross calibration, e.g. 'crosscal'
selfcalsubdir = 'selfcal'                           # Sub-directory for self calibration, e.g. 'selfcal'
linesubdir = 'line'                                 # Sub-directory for line imaging, e.g. 'line'
contsubdir = 'continuum'                            # Sub-directory for continuum imaging, e.g. 'continuum'
polsubdir = 'polarisation'                          # Sub-directory for polarisation imaging, e.g. 'polarisation'
mossubdir = 'mosaics'                               # Sub-directory for masaicking, e.g. 'mosaics'
transfersubdir = 'transfer'                         # Sub-directory for the transfer of the final (u,v)-datasets, e.g. 'transfer'
subdirification = True                              # assume data is in /basedir/beamnum/rawsubdir/fluxcal format



[PREFLAG]
preflag_shadow = True                               # Flag all datasets for shadowed antennas
preflag_edges = True                               # Flag subband egdes for all datasets
preflag_ghosts = True                              # Flag ghost channels for all datasets
preflag_manualflag = True                           # Run the manualflag options
preflag_manualflag_fluxcal = True                   # Run manualflag options for the flux calibrator
preflag_manualflag_polcal = False                    # Run manualflag options for the polarised calibrator
preflag_manualflag_target = False                   # Run manualflag options for the target beams
preflag_manualflag_targetbeams = 'all'              # Targetbeams to flag, options: 'all' or '00,01,02'
preflag_manualflag_auto = True                      # Flag auto-correlations
preflag_manualflag_antenna = ''                     # Antennas to flag, e.g. 'RT2,RT3,RT4'
preflag_manualflag_corr = ''                        # Correlations to flag, e.g. 'XX,YX'
preflag_manualflag_baseline = ''                    # Flag certai baselines, e.g. 'RT2&RT3,RT5&RT6'
preflag_manualflag_channel = ''                     # Channels or channel ranges to flag, e.g. '0~3054;10977~16384'
preflag_manualflag_time = ''                        # Time range to flag, e.g. '09:14:0~09:54:0'
preflag_aoflagger = True                            # Run the aoflagger step
preflag_aoflagger_bandpass = True                   # Derive a preliminary bandpass for AOFlagging
preflag_aoflagger_fluxcal = True                    # AOFlag the flux calibrator
preflag_aoflagger_polcal = False                     # AOFlag the polarised calibrator
preflag_aoflagger_target = False                     # AOFlag the target beams
preflag_aoflagger_targetbeams = '00'               # Targetbeams to flag, options: 'all' or '00,01,02'
preflag_aoflagger_fluxcalstrat = 'fluxcal.rfis'     # Flagging strategy for the flux calibrator
preflag_aoflagger_polcalstrat = 'polcal.rfis'       # Flagging strategy for the polarised calibrator
preflag_aoflagger_targetstrat = 'target.rfis'       # Flagging strategy for the target beams


[CROSSCAL]
crosscal_refant = 'RT2'                             # Reference antenna used through all cross calibration steps
crosscal_tec = False                                # TEC corrections for all datasets
crosscal_bandpass = True                            # Bandpass correction from the flux calibrator
crosscal_gains = True                               # Gain and flux corrections for the flux calibrator
crosscal_global_delay = True                        # Global delay corrections
crosscal_crosshand_delay = True                     # Cross-hand delay corrections
crosscal_leakage = True                             # Polarisation leakage corrections
crosscal_polarisation_angle = True                  # Polarisation angle corrections
crosscal_transfer_to_cal = True                     # Transfer corrections to calibrators
crosscal_transfer_to_target = False                  # Transfer corrections to the target fields
crosscal_transfer_to_target_targetbeams = 'all'     # Targetbeams to transger the solutions to, options: 'all'
                                                    # or '00,01,02'

